{% extends 'base.html.twig' %}

{% block title %}Espace Cartes{% endblock %}

{% block body %}
      {% include '__fragments/nav.html.twig' %}
      
      {# contenu #}
      
      <div class="content">
        <div class="mb-9">
          <div class="row g-3 mb-4">
            <div class="col-auto">
              <h2 class="mb-0">Achats et Rechargement de Carte</h2>
            </div>
          </div>
           {% include '__fragments/decompte.html.twig' %}
          <ul class="nav nav-links mb-3 mb-lg-2 mx-n3">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#"><span>Total </span><span class="text-700 fw-semi-bold">(68817)</span></a></li>
            <li class="nav-item"><a class="nav-link text-success" href="#"><span>Retrait </span><span class="text-700 fw-semi-bold">(6)</span></a></li>
            <li class="nav-item"><a class="nav-link text-success" href="#"><span>Dépôt </span><span class="text-700 fw-semi-bold">(17)</span></a></li>
          </ul>
          <div id="orderTable" data-list='{"valueNames":["order","total","customer","payment_status","fulfilment_status","delivery_type","date"],"page":10,"pagination":true}'>
            <div class="mb-4">
              <div class="row g-3">
                <div class="col-auto">
                  <div class="search-box">
                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static"><input class="form-control search-input search" type="search" placeholder="Search orders" aria-label="Search" />
                      <span class="fas fa-search search-box-icon"></span>
                    </form>
                  </div>
                </div>
                <div class="col-auto scrollbar overflow-hidden-y flex-grow-1">
                  {# <div class="btn-group position-static" role="group">
                    <div class="btn-group position-static text-nowrap" role="group"><button class="btn btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"> Payment status<span class="fas fa-angle-down ms-2"></span></button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                          <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                      </ul>
                    </div>
                    <div class="btn-group position-static text-nowrap" role="group"><button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"> Fulfilment status<span class="fas fa-angle-down ms-2"></span></button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                          <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                      </ul>
                    </div><button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0">More filters </button>
                  </div> #}
                </div>
                <div class="col-auto">
                  <button class="btn btn-link text-900 me-4 px-0">
                    <span class="fa-solid fa-file-export fs--1 me-2"></span>Exporter
                  </button>
                  <a href="{{ path('app_b_m_o_new') }}" class="btn btn-success">
                    <span class="fas fa-plus me-2"></span>Ajouter un enregistrement
                  </a>
                </div>
              </div>
            </div>
            <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white border-top border-bottom border-200 position-relative top-1">
              <div class="table-responsive scrollbar mx-n1 px-1">
                <table  id="myTable" class="table table-sm fs--1 mb-0">
                  <thead>
                    <tr>
                      <th class="white-space-nowrap fs--1 align-middle ps-0" style="width:26px;">
                        <div class="form-check mb-0 fs-0"><input class="form-check-input" id="checkbox-bulk-order-select" type="checkbox" data-bulk-select='{"body":"order-table-body"}' /></div>
                      </th>
                      <th class="sort white-space-nowrap align-middle pe-3" scope="col" data-sort="order" style="width:6%;">N°</th>
                      <th class="sort align-middle" scope="col" data-sort="total" style="width:16%;">NOM</th>
                      <th class="sort align-middle ps-3" scope="col" data-sort="customer" style="width:3%; min-width: 50px;">NUMERO</th>
                      <th class="sort align-middle pe-3" scope="col" data-sort="payment_status" style="width:10%;">MONTANT</th>
                      <th class="sort align-middle text-start pe-3" scope="col" data-sort="fulfilment_status" style="width:3%; min-width: 50px;">TYPE</th>
                      <th class="sort align-middle pe-0" scope="col" data-sort="date">DATE</th>
                      <th class="sort align-middle text-start" scope="col" data-sort="delivery_type" style="width:30%;">ACTION</th>
                    </tr>
                  </thead>
                  <tbody class="list" id="order-table-body">
                    {% for b_m_o in b_m_os %}
                    {% set i = loop.index %}
                      <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                        <td class="fs--1 align-middle px-0 py-3">
                          <div class="form-check mb-0 fs-0"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"order":2453,"total":87,"customer":{"avatar":"/team/32.webp","name":"Carry Anna"},"payment_status":{"label":"Complete","type":"badge-phoenix-success","icon":"check"},"fulfilment_status":{"label":"Cancelled","type":"badge-phoenix-secondary","icon":"x"},"delivery_type":"Cash on delivery","date":"Dec 12, 12:56 PM"}' /></div>
                        </td> 
                        <td class="order align-middle white-space-nowrap py-0"><a class="fw-semi-bold" href="#!">#{{i}} </a></td>
                        <td class="total align-middle fw-semi-bold text-1000">{{ b_m_o.nom }}</td>
                        <td class="total align-middle fw-semi-bold text-1000">{{ b_m_o.Numero }}</td>
                        <td class="total align-middle fw-semi-bold text-1000">{{ b_m_o.montant }}</td>
                        <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-700">
                                          {% if b_m_o.type == 'Retrait' %}
                                            <span class="badge badge-phoenix fs--2 badge-phoenix-danger">
                                              <span class="badge-label">{{ b_m_o.type }}</span>
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info ms-1" style="height:12.8px;width:12.8px;"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line>
                                              </svg>
                                            </span>
                                          {% elseif b_m_o.type == 'Dépôt' %}
                                              <span class="badge badge-phoenix fs--2 badge-phoenix-success">
                                                <span class="badge-label">{{ b_m_o.type }}</span>
                                                  <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check ms-1" style="height:12.8px;width:12.8px;"><polyline points="20 6 9 17 4 12"></polyline>
                                                  </svg>
                                                </span>
                                          {% else %}
                                              {{ b_m_o.type }}
                                          {% endif %}
                        </td>
                        <td class="date align-middle white-space-nowrap text-700 fs--1 ps-4">{{ b_m_o.date ? b_m_o.date|date('d-m-Y H:m') : '' }}</td>
                        <td class="fulfilment_status align-middle white-space-nowrap text-start fw-bold text-700">
                          <a href="{{ path('app_b_m_o_edit', {'id': b_m_o.id}) }}" class="btn btn-sm btn-phoenix-primary me-1 mb-1"> Modifier</a> 
                          <a href="{{ path('app_b_m_o_delete', {'id': b_m_o.id}) }}" class="btn btn-sm btn-phoenix-danger me-1 mb-1"> <span data-feather="trash-2"></span> Supprimer</a>
                        </td>
                      </tr>
                    {% else %}
                      <tr>
                        <td colspan="7">no records found</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              </div>
            </div>
          </div>
        </div>
      {% if app.request.hasPreviousSession() and app.request.session.flashBag.has('depot_success') %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                Swal.fire({
                    title: 'Succès !',
                    text: 'Le dépôt a été effectué avec succès.',
                    icon: 'success',
                    confirmButtonColor: '#25b003',
                    confirmButtonText: 'OK'
                });
            });
        </script>
    {% endif %}
    {% if app.request.hasPreviousSession() and app.request.session.flashBag.has('retrait_success') %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                Swal.fire({
                    title: 'Succès !',
                    text: 'Le retrait a été effectué avec succès.',
                    icon: 'success',
                    confirmButtonColor: '#25b003',
                    confirmButtonText: 'OK'
                });
            });
        </script>
    {% endif %}
    {% if app.request.hasPreviousSession() and app.request.session.flashBag.has('depot_error') %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                Swal.fire({
                  icon: 'error',
                  title: 'Dépôt Impossible',
                  text: 'Le montant de dépôt est supérieur au solde de votre caisse !',
                  confirmButtonColor: '#25b003',
                  confirmButtonText: 'OK'
                })
            });
        </script>
    {% endif %}

{% endblock %}
